/*header*/
 
header{
    background: var(--qs-branco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 9%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transform: translateY(-10rem, );
    box-shadow: 0 .3rem 1.5rem rgb(82, 82, 82);
  }
   
  .navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
  }
   
  .navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--cor-primaria);
    transition: all ease .55s;
  }
  .navbar .links-name {
    display: flex;
    gap: 2rem;
    color: #000080;
  }
   
  .navbar .links-name-cor{
    color: var(--preto);
  }
   
  .navbar .links-name-cor:hover{
    color: var(--cor-segundaria);
  }
  .navbar .toggle_btn {
    color: var(--preto);
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  }
   
   .action_btn {
    background-color: var(--cor-primaria);
    color: var(--branco);
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    overflow: hidden;
    transition: all ease .55s;
  }
  .action_btn:hover{
    background-color: var(--cor-segundaria);
  }
   
   
  /*DROPDOWN*/
  .dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .dropdown_menu.open{
    height: 330px;
  }
   
  .dropdown_menu a {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: var(--Azul-Marinho);
  }
   
  .dropdown_menu a:hover{
    color: var(--branco);
  }
   
   
  .dropdown_menu .action_btn_dropdown{
    border-radius: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--cor-primaria);
    color: var();
    margin-top: 2%;

  }
   
   
  /*HEADER RESPONSIVO*/
  @media(max-width:992px){
    .navbar .links-name,
    .navbar .action_btn{
      display: none;
    }
   
    .navbar .toggle_btn{
      display: block;
    }
    .dropdown_menu{
      display: block;
    }
  }
   
  @media(max-width:576px){
    .dropdown_menu {
      left: 2rem;
      width: unset;
    }
  }