/*about*/
.about-section {
    padding-block: 4rem;
    margin: 5%;
    text-align: center;
    background: var(--cor-primaria);
    border-radius: 1.5rem;
    border: 2px solid var(--branco);
    color: var(--branco);
  }
  
  .about-section .header-section {
    font-weight: 700;
    font-size: 40px;
    color: var(--branco);
  }

  @media (max-width:400px){
    .about-section .header-section {
     
      font-size: 30px;
      
    }
}
  
  .about-section .header-section span {
    color: var(--cor-segundaria);
  }
  
  .description-section {
    max-width: 900px;
    margin-inline: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: var(--branco);
  }

  .description-section span {
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--cor-segundaria);
  }
  
  .btn-about {
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    border-radius: 5rem;
    background: var(--cor-segundaria);
    font-size: 1.3rem;
    color: var(--branco);
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    transition: all .3s linear;
  }