/*card-servico*/

.bemavaliados {
    margin: 5%;
}

.bemavaliados-item-heading {
    color: var(--cor-primaria);
    margin: 2%;
    font-size: 20px;
}

.bemavaliados-item-container {
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: auto hidden;
    scroll-snap-type: inline mandatory;
    /*scrol lateral*/
    overscroll-behavior-inline: contain;
}

.bemavaliados-item {
    min-width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    border: .1rem solid rgba(0, 0, 0, 0.171);
    border-radius: 20px;
    scroll-snap-align: start;
}

.bemavaliados-img-box {

    width: 100px;
}

.bemavaliados-content-box {
    width: 100%;
}

.bemavaliados-content-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.bemavaliados-item-title {
    color: var(--preto);
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.bemavaliados-item-des {
    display: flex;
    align-items: center;
    gap: 5%;
}

.bemavaliados-item-amount {
    color: var(--textos);
    font-size: 11px;
}


.bemavaliados-item-amount i {
    color: var(--textos);
    font-size: 16px;
    color: #E2BC26;
}

.bemavaliados-item-text {
    color: var(--textos);
    font-size: 14px;
    font-weight: 400;
}

@media (min-width: 600px) {
    .bemavaliados-item-container {
        gap: 30px;
    }

    .bemavaliados-item {
        min-width: calc(50% - 15px);
    }

}

@media (min-width: 780px) {
    .bemavaliados-img-box {
        padding: 20px;
    }
}

@media (min-width: 1024px) {
    .bemavaliados-item {
        min-width: calc(33.33% - 20px);
    }

    .bemavaliados-img-box {
        padding: 20px;
    }

}