@import url("./base-hm.css");
@import url("./header-hm.css");
@import url("./footer-hm.css");

/*serviços*/
.capa {
    display: flex;
    margin: 5%;
    align-items: center;
}

.capa-img img {
    width: 450px;
}

@media (max-width:1200px) {
    .capa {
        display: grid;
        margin: 3%;
    }

    .capa-img {
        display: grid;
        margin: 3%;
        justify-content: center;
        width: 100%;
    }
}

@media (max-width:500px) {
    .capa-img img {
        width: 250px;
    }

    .capa {
        align-items: center;
        justify-content: center;
        display: grid;
        justify-items: center;
    }

    .servicos .box-container .box-ser {
        flex: 1 0 20rem;
        width: 50%;
    }
}

.servicos .heading {
    text-align: center;
    font-size: 2.5rem;
    padding: 0.5rem;
    color: var(--preto);

}

.servicos .heading span {
    color: var(--cor-primaria);
}

.servicos .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2% 2% 2% 10%;
}

.servicos .box-container .box-ser {
    flex: 1 1 calc(33.33% - 1rem);
    position: relative;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border: .1rem solid rgba(0, 0, 0, 0.103);
    cursor: pointer;
    border-radius: .5rem;
    background: var(--branco);
}

@media screen and (max-width:1200px) {
    .servicos .box-container .box-ser {
        flex: 1 0 20rem;
    }
}

.servicos .box-container .box-ser .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    bottom: -100%;
    left: 0;
    z-index: 1;
    transition: ease .7s;
    opacity: .8;
}

.servicos .box-container .box-ser:hover{
    background: #000;
}

.servicos .box-container .box-ser .content {
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
    position: relative;
    z-index: 3;
}

.servicos .box-container .box-ser .content img {
    margin: 1.5rem 0;
}

.servicos .box-container .box-ser .content h3 {
    font-size: 2.5rem;
    color: var(--preto);
}

.servicos .box-container .box-ser:hover .image {
    bottom: 0;
}
.servicos .box-container .box-ser:hover .content {
    color: var(--branco);
}




/*Bem avaliados*/

.category {
    margin: 5%;
}

.category-item-heading {
    color: var(--cor-primaria);
    margin: 2%;
    font-size: 20px;
}

.category-item-container {
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: auto hidden;
    scroll-snap-type: inline mandatory;
    /*scrol lateral*/
    overscroll-behavior-inline: contain;
}

.category-item {
    min-width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    border: .1rem solid rgba(0, 0, 0, 0.171);
    border-radius: 20px;
    scroll-snap-align: start;
}

.category-img-box {
    background: var(--qs-branco);
    border: 1px solid hsl(0, 0%, 80%);
    padding: 10px;
    border-radius: 20px;
}

.category-content-box {
    width: 100%;
}

.category-content-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.category-item-title {
    color: var(--preto);
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.category-item-des {
    display: flex;
    align-items: center;
    gap: 5%;
}

.category-item-amount {
    color: var(--textos);
    font-size: 11px;
}


.category-item-amount i {
    color: var(--textos);
    font-size: 16px;
    color: #E2BC26;
}

.category-item-text {
    color: var(--textos);
    font-size: 14px;
    font-weight: 400;
}

@media (min-width: 600px) {
    .category-item-container {
        gap: 30px;
    }

    .category-item {
        min-width: calc(50% - 15px);
    }

}

@media (min-width: 780px) {
    .category-img-box {
        padding: 20px;
    }
}

@media (min-width: 1024px) {
    .category-item {
        min-width: calc(33.33% - 20px);
    }

    .category-img-box {
        padding: 20px;
    }

}
/*sugestao*/

.sugestao {
    margin-bottom: 30px;
}

.sugestao-container{
    display: flex;
    align-items: flex-start;
    gap: 15px;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
    margin: 4%;
}

.sugestao-card{
    min-width: 100%;
    scroll-snap-align: start;
}

.sugestao-banner{
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
}

.sugestao-category{
    width: max-content;
    color: var(--cor-primaria);
    font-size: 16px;
}

.sugestao-des{
    color: var(--preto);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 5px;
    transition: .7s;  
}

.sugestao-des:hover {
    color: var(--cor-primaria);
}


@media (min-width: 470px) {
    .sugestao-container{
        gap: 30px;
    }

    .sugestao-card{
        min-width: calc(50% - 15px)
    }
} 

@media (min-width: 1024px){
    .sugestao-card {
        min-width: calc(33.33% - 20px);
    }

    .sugestao-des {
        font-size: 24px;
    }

}

@media (min-width: 1200px){
    .sugestao {
        margin-bottom: 50px;
    }

    .sugestao-card{
        min-width: calc(25% - 22.5px);
    }

}


/*about*/
.about-section {
    padding-block: 4rem;
    margin: 5%;
    text-align: center;
    background: var(--cor-primaria);
    border-radius: 1.5rem;
    border: 2px solid var(--branco);
    color: var(--branco);
  }
  
  .about-section .header-section {
    font-weight: 700;
    font-size: 40px;
    color: var(--branco);
  }
  
  .about-section .header-section span {
    color: var(--cor-segundaria);
  }
  
  .description-section {
    max-width: 900px;
    margin-inline: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: var(--branco);
  }

  .description-section span {
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--cor-segundaria);
  }
  
  .btn-about {
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    border-radius: 5rem;
    background: var(--cor-segundaria);
    font-size: 1.3rem;
    color: var(--branco);
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    transition: all .3s linear;
  }