<link rel="stylesheet" href="./css/login-empresa/esqueceuSenha.css">
    
<div class="logo">
    <img src="src/dashboard/logo.png" alt="logo" />
  </div>

<article class="box">
    <div class="inner-box">
    <h2>Redefinir Senha</h2>
        <h3>Em poucos passa você terá uma senha nova</h3>
    <h6>Digite o seu e-mail no campo abaixo e lhe enviaremos
        um código de ativação para a redefinição de senha.</h6>
    <form action="/solicitarResetSenha" method="post">
        <article class="input__container">
            <input type="text" name="email" id="email" class="input__control" placeholder="E-mail" required>
            <label for="email">E-mail:</label>
        </article>
        <article class="links">
            <a href="/logarEmpresa" class="link">Cancelar</a>
        </article>
        <button class="btn submit text p-2 mt-3" type="submit">Enviar</button>
    </form>
    </div>
</article>


<% if(modalAberto){ %>
    <%- include("./redefinirSenha-modal") %>
<%}%>