<!-- menu lateral de navegção -->
<section class="nav-left">
    <!-- logo -->
    <section class="logo">
        <img src="/source/logo.png" alt="LogoMarca">
    </section>
    <!-- nav -->
    <section class="nav">
        <nav>
            <ul>
                <li><a href="#"><i class="bi bi-card-text"></i></a></li>
                <li><a href="#"><i class="bi bi-card-text"></i></a></li>
                <li><a href="#"><i class="bi bi-card-text"></i></a></li>
            </ul>
        </nav>
    </section>
    <!-- configurações -->
    <section class="options">
        <ul>
            <a href="#"><i class="bi bi-gear"></i></a>
        </ul>
    </section>
</section>