<div class="upcoming">


    <h1>Configure sua Agenda</h1>
    <div class="upcoming-box">

        <form action="/criarHorario" method="post">

            <div class="inputs">

                <input type="date" name="dataHorario" id="dataHorario" placeholder="" required>
                <input type="time" name="horario" id="horario" placeholder="" required>
                
                <button type="submit"> Enviar</button>

            </div>
        </form>

        <div class="events">
            <div class="item">
                <div>
                    <i class='bx bx-time'></i>
                    <div class="event-info">
                        <a href="#">Horário 1</a>
                        <p>10:00-11:30</p>
                    </div>
                </div>
                <i class='bx bx-dots-horizontal-rounded'></i>
            </div>
            <div class="item">
                <div>
                    <i class='bx bx-time'></i>
                    <div class="event-info">
                        <a href="#">Horário 2</a>
                        <p>13:30-15:00</p>
                    </div>
                </div>
                <i class='bx bx-dots-horizontal-rounded'></i>
            </div>
            <div class="item">
                <div>
                    <i class='bx bx-time'></i>
                    <div class="event-info">
                        <a href="#">Horário 3</a>
                        <p>11:30-13:00</p>
                    </div>
                </div>
                <i class='bx bx-dots-horizontal-rounded'></i>
            </div>
            <div class="item">
                <div>
                    <i class='bx bx-time'></i>
                    <div class="event-info">
                        <a href="#">Horário 4</a>
                        <p>10:00-11:30</p>
                    </div>
                </div>
                <i class='bx bx-dots-horizontal-rounded'></i>
            </div>

            <div class="item-adicionar">
                <div>
                    <i class='bx bx-time'></i>
                    <div class="event-info">
                        <a href="#">Adiconar Horário</a>

                    </div>
                </div>
                <i class='bx bx-dots-horizontal-rounded'></i>
            </div>
        </div>

    </div>
</div>