<article>
<div class="logo-empresa">

  <form action="/logoEmpresa" method="post" enctype="multipart/form-data">
  <div class="logo">
    <img src="" alt="">
  </div>
  <input type="file" name="imgLogo" id="imgLogo" class="input__control"
  placeholder="Selecione sua foto de Logo" data-inputFoto required>
 </form>
  <h1>nome Empresa</h1>
</div>

<form action="bannerEmpresa" method="post"  enctype="multipart/form-data">
<section class="bannerForm">
 <img src="" alt="">

<input type="file" name="imgBanner" id="imgBanner" class="input__control imgBanner "
            placeholder="Selecione sua foto de Banner" data-inputFoto required>
          </section>
</form>


<section class="container">
  <section class="category-item-container has-scrollbar">

    <section class="category-item">
 
          <h3 class="category-item-conteudo">horario</h3>
        </section>


        <section class="category-item">
 
          <h3 class="category-item-conteudo">localização</h3>
        </section>


        <section class="category-item">
 
          <h3 class="category-item-conteudo">whatsapp</h3>
        </section>
      </section>
    </section>

<form action="/descEmpresa" method="post">
  <textarea class="descricaoForm" id="descricao" name="descricao" rows="4" cols="50" placeholder="coloque a descrição do seu serviço aqui"></textarea>
</form>


<button class="btn-servico ">adicionar serviço</button>



</article>




<style>


.category-item-container {
  margin: 5%;
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: auto hidden;
    scroll-snap-type: inline mandatory;
    /*scrol lateral*/
    overscroll-behavior-inline: contain;
}

.category-item {
    min-width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    border: .1rem solid rgba(0, 0, 0, 0.171);
    border-radius: 20px;
    scroll-snap-align: start;
    width: 80%;
}

.category-item-conteudo {
    color: var(--preto);
    font-size: 16px;
    font-weight: 500;
    
}

@media (min-width: 600px) {
    .category-item-container {
        gap: 30px;
    }

    .category-item {
        min-width: calc(50% - 15px);
    }

}

@media (min-width: 1024px) {
    .category-item {
        min-width: calc(33.33% - 20px);
    }

    .category-img-box {
        padding: 20px;
    }

}


.btn-servico {
  margin-left: 5%;
  width: 100%;
        display: inline-block;
        margin-top: 1rem;
        padding: .6rem 1.5rem;
        border: none;
        border-radius: 1.5rem;
        background: var(--cor-segundaria);
        font-size: 1rem;
        color: var(--branco);
        cursor: pointer;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        transition: all .3s linear;
      }

    .bannerForm {
      width: 100%;
        padding-block: 4rem;
        margin: 5%;
        text-align: center;
        background: var(--cor-primaria);
        border-radius: 1.5rem;
        border: 2px solid var(--branco);
        color: var(--branco);
        height: fit-content;
      
      }


      .descricaoForm {
      width: 100%;
        padding-block: 4rem;
        margin: 5%;
        text-align: center;
        background: var(--branco);
        border-radius: 1.5rem;
        border: 2px solid var(--cor-primaria);
        color: var(--preto);
        height: fit-content;
      
      }
      
      
@media screen and (max-width: 992px){

     .detalhes .item{
         min-width: 120px;
     }
    }

.detalhes{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        margin-top: 20px;
        width: 25%;
    }
     .detalhes .item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 140px;
        min-width: 220px;
        padding: 20px;
        border-radius: 20px;
        gap: 5%;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        background-color: #000080;
    }
        .detalhes .item:hover{
        box-shadow: none;
    
    }
     .detalhes .item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
     .detalhes .item  .info h5,p {
        color: #fff;
        font-size: 16px;
        font-weight: bold;
    }


   
.logo-empresa{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}
  .logo-empresa .logo{
    width: 100px;
    height: 100px;
    background: aqua;
    border-radius: 50%;
   
  }
  .carroselEmpresaPremium{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-empresaPremium{
    
    justify-content: center;
    align-items: center;
    position: relative;
    width: 75%;
    overflow: hidden;
   
}

.container-empresaPremium .slidesrow{
    display: flex;
    height: 100%;
   margin: 5%;
   align-items: center;
  
    
}


.container-empresaPremium .slidesrow .slide-empresaP{
    min-width: 100%;
    position: relative;
    display: flex;
    width: 100%;
    height: 350px;
    border-radius: 30px;
    background-color: #000080;
    border: 3px solid white;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
   
}

.container-empresaPremium .slidesrow .slide-empresaP img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 15px;
}
</style>
