<div class="main-content">
        
      
        
        
    <main>
        
   
        
        <div class="page-content">
        
            <div class="records table-responsive">
                <div>
                    <table width="100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th><span class="las la-sort"></span> CLIENT</th>
                                <th><span class="las la-sort"></span> SERVIÇO</th>
                                <th><span class="las la-sort"></span> DATA</th>
                                <th><span class="las la-sort"></span> HORÁRIO</th>
                                <th><span class="las la-sort"></span> STATUS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>#5033</td>
                                <td>
                                    <div class="client">
                                       <div class="client-img bg-img" style="background-image: url(img/3.jpeg)"></div>
                                        <div class="client-info">
                                            <h4>Andrew Bruno</h4>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                   5
                                </td>
                                <td>
                                    02/11/24
                                </td>
                                <td>
                                   09h00
                                </td>
                                <td> 
                                    <span class="paid-aguarde">Aguarde</span>
                                </td>
                            </tr>
                            <tr>
                                <td>#5033</td>
                                <td>
                                    <div class="client">
                                       <div class="client-img bg-img" style="background-image: url(img/1.jpeg)"></div>
                                        <div class="client-info">
                                            <h4>Exty Bruno</h4>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    3
                                </td>
                                <td>
                                     30/10/24
                                </td>
                                <td>
                                   16h00
                                </td>
                                <td>
                                    <span class="paid-cancelado">Cancelado</span>
                                </td>
                            </tr>
                            <tr>
                                <td>#5033</td>
                                <td>
                                    <div class="client">
                                       <div class="client-img bg-img" style="background-image: url(img/1.jpeg)"></div>
                                        <div class="client-info">
                                            <h4>Exty Bruno</h4>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                   2
                                </td>
                                <td>
                                   17/09/24
                                </td>
                                <td>
                                   17h00
                                </td>
                                <td>
                                    <span class="paid-concluido">Concluido</span>
                                </td>
                            </tr>
                            <tr>
                                <td>#5033</td>
                                <td>
                                    <div class="client">
                                       <div class="client-img bg-img" style="background-image: url(img/3.jpeg)"></div>
                                        <div class="client-info">
                                            <h4>Andrew Bruno</h4>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    1
                                </td>
                                <td>
                                   10/12/24
                                </td>
                                <td>
                                    07h30
                                </td>
                                <td>
                                    <span class="paid-aguarde">Aguarde</span>
                                </td>
                            </tr>
                            <tr>
                                <td>#5033</td>
                                <td>
                                    <div class="client">
                                       <div class="client-img bg-img" style="background-image: url(img/1.jpeg)"></div>
                                        <div class="client-info">
                                            <h4>Exty Bruno</h4>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    7
                                </td>
                                <td>
                                    22/08/24
                                </td>
                                <td>
                                  18h00
                                </td>
                                <td>
                                    <span class="paid-concluido">Concluido</span>
                                </td>
                            </tr>
                            <tr>
                                <td>#5033</td>
                                <td>
                                    <div class="client">
                                       <div class="client-img bg-img" style="background-image: url(img/1.jpeg)"></div>
                                        <div class="client-info">
                                            <h4>Exty Bruno</h4>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    1
                                </td>
                                <td>
                                    29/03/24
                                </td>
                                <td>
                                    13h20
                                </td>
                                <td>
                                    <span class="paid-concluido">Concluido</span>
                                </td>
                            </tr>
                           
                            
                        </tbody>
                    </table>
                </div>

            </div>
        
        </div>
        
    </main>
</div>