<% if(horarios && horarios.length > 0) {
    horarios.forEach(horario=>{
      if(horario.DIA_SEMANA == diaSemana){ %>
        <div class="item">
          <div>
            <i class='bx bx-time'></i>
            <div class="event-info">
              <a href="#"><%= horario.HORARIO_SERVICO.slice(0, 5) %></a>
              <p></p>
            </div>
          </div>
          <form action="/apagarHorario?idHorario=<%= horario.ID_HORARIO_SERVICO %>&idServico=<%= servico.ID_SERVICO %>" method="post">
            <button class="material-symbols-outlined">close</button>
          </form>
        </div>
    <%}
   })
}%>