<div class="container-planos">
<div class="aviso">
    <div class="box">
        <h1>Planos para sua empresa</h1>
        <p>hjfhjsah ashjfhu
            jaikfheh
            jfieijfep
            jefofjeojf
        </p>
        <img src="img_empresas/planos.png" alt="">
    </div>
</div>


<div class="price-row">
<div class="price-col">
    <p>Anual</p>
    <h3>R$345,6</h3>
    <ul>
        <li><i class="material-symbols-outlined">close </i> agenda </li>
        <li><i class="material-symbols-outlined">close </i> agenda </li>
        <li><i class="material-symbols-outlined">close </i> agenda </li>
        <li><i class="material-symbols-outlined">close </i> agenda </li>
        <li><i class="material-symbols-outlined">close </i> agenda </li>

        <form action="/PagarAssinatura" method="post">
            <input type="hidden" value="1" name="id" >
            <button type="submit" >Selecionar</button>
        </form>
       
       
    </ul>
    
</div>

<div class="price-col">
    <p>Mensal</p>
    <h3>R$32</h3>
    <ul>
        <li> <i class="material-symbols-outlined">check </i> agenda </li>
        <li> <i class="material-symbols-outlined">check </i> agenda </li>
        <li> <i class="material-symbols-outlined">check </i> agenda </li>
        <li> <i class="material-symbols-outlined">check </i> agenda </li>
        <li> <i class="material-symbols-outlined">check </i> agenda </li>
    </ul>
    <form action="/PagarAssinatura" method="post">
        <input type="hidden" value="2" name="id" >
        <button type="submit" >Selecionar</button>
    </form>
</div>
</div>
</div>