<link rel="stylesheet" href="../css/dashboard/nao-permitido.css">

<div class="container-erro">
    <div class="header">
      <h3>Página bloqueada</h3>
    </div>
    <img src="src/error-pets.png" alt="not found" />
    <div class="daw">
      <p>
        Ops! Para acessar esta página e aproveitar todos os recursos, finalize o pagamento da sua assinatura. 
      </p>
     <a href="/planos"> <button>Assinatura</button></a>
    </div>
  </div>
  