<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./css/Login/login-style.css">
  <title>Login/Cadastro</title>
</head>

<body>
  <section class="container">
    <section class="forms-container">
      <section class="signin-signup">

        <!-- lOGIN PAGE -->

        <form action="#" class="sign-in-form">
          <h2 class="title">Entrar</h2>
          <section class="input-field">
            <i class="fas fa-user"></i>
            <input id="email" type="email" placeholder="E-mail" pattern=".{8,}"
              title="E-mail incorreto, porfavor, tente novamente" />
          </section>
          <section class="input-field">
            <i class="fas fa-lock"></i>
            <input id="password" type="password" placeholder="Senha" title="Sua senha entá incorreta, revise sua senha"
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%&*]).{8,}" />
          </section>
          <button class="btn solid" type="submit">Login</button>
          <p class="social-text">Siga nossas redes sociais</p>

          <!-- REDES SOCIAIS -->

          <section class="social-media">
            <a href="#" class="social-icon">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-google"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </section>
        </form>

        <!-- REGISTER PAGE -->

        <form action="/cadastrarUsuario" class="sign-up-form" method="post">
          <h2 class="title">Cadastrar</h2>
          <section class="">
            <i class="fas fa-user"></i>
            <input id="nome" name="nome" type="text" placeholder="Digite seu nome completo" />
          </section>
          <section class="">
            <i class="fas fa-user"></i>
            <input id="celular" name="celular" type="text" placeholder="Celular:" />
          </section>
          <section class="">
            <i class="fas fa-envelope"></i>
            <input name="email" id="email" type="email" placeholder="Email" required />
          </section>
          <section class="">
            <i class="fas fa-lock"></i>
            <input id="password" name="password" type="password" placeholder="Senha"
              title="Deve conter pelo menos um número, uma letra maiúscula, uma letra minúscula e um dos símbolos (!, @, #, $, %, *) e ter pelo menos 8 ou mais caracteres" />
          </section>
          <section class="">
            <i class="fas fa-user"></i>
            <input id="cep" name="cep" type="text" placeholder="CEP:" />
          </section>
          <section class="">
            <i class="fas fa-user"></i>
            <select id="uf" name="uf" placeholder="UF:">
              <option value="AC">Acre (AC)</option>
              <option value="AL">Alagoas (AL)</option>
              <option value="AP">Amapá (AP)</option>
              <option value="AM">Amazonas (AM)</option>
              <option value="BA">Bahia (BA)</option>
              <option value="CE">Ceará (CE)</option>
              <option value="DF">Distrito Federal (DF)</option>
              <option value="ES">Espírito Santo (ES)</option>
              <option value="GO">Goiás (GO)</option>
              <option value="MA">Maranhão (MA)</option>
              <option value="MT">Mato Grosso (MT)</option>
              <option value="MS">Mato Grosso do Sul (MS)</option>
              <option value="MG">Minas Gerais (MG)</option>
              <option value="PA">Pará (PA)</option>
              <option value="PB">Paraíba (PB)</option>
              <option value="PR">Paraná (PR)</option>
              <option value="PE">Pernambuco (PE)</option>
              <option value="PI">Piauí (PI)</option>
              <option value="RJ">Rio de Janeiro (RJ)</option>
              <option value="RN">Rio Grande do Norte (RN)</option>
              <option value="RS">Rio Grande do Sul (RS)</option>
              <option value="RO">Rondônia (RO)</option>
              <option value="RR">Roraima (RR)</option>
              <option value="SC">Santa Catarina (SC)</option>
              <option value="SP">São Paulo (SP)</option>
              <option value="SE">Sergipe (SE)</option>
              <option value="TO">Tocantins (TO)</option>
            </select>
          </section>
          <section class="">
            <i class="fas fa-user"></i>
            <input id="cidade" name="cidade" type="text" placeholder="Cidade:" />
          </section>
          <section class="">
            <i class="fas fa-user"></i>
            <input id="bairro" name="bairro" type="text" placeholder="Bairro:" />
          </section>
          <section class="">
            <i class="fas fa-user"></i>
            <input id="logradouro" name="logradouro" type="text" placeholder="logradouro:" />
          </section>
          <section id="messagesection"></section>
          <!-- <button id="loginButton" style="display: none">Ir para a tela de login</button> -->
          <input type="submit" class="btn" value="Cadastrar" />

          <!-- REDES SOCIAIS -->
          <p class="social-text">Siga nossas redes sociais</p>
          <section class="social-media">
            <a href="#" class="social-icon">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-google"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </section>

          <script>
            function saveData() {
              let name, email, password;
              name = document.getElementById("name").value;
              email = document.getElementById("email").value;
              password = document.getElementById("password").value;

              let user_records = new Array();
              user_records = JSON.parse(localStorage.getItem("users")) ? JSON.parse(localStorage.getItem("users")) : [];
              let messagesection = document.getElementById("messagesection");

              if (user_records.some((v) => {
                return v.email == email
              })) {
                messagesection.textContent = "Usuário já cadastrado com este email.";
              }
              else {
                user_records.push({
                  "name": name,
                  "email": email,
                  "password": password
                })
                localStorage.setItem("users", JSON.stringify(user_records));
                messagesection.textContent = "Usuário cadastrado com sucesso!";
              }
            }
          </script>

        </form>
      </section>
    </section>

    <section class="panels-container">
      <section class="panel left-panel">
        <section class="content">
          <h3>Novo por aqui?</h3>
          <p>
            Clique aqui para se cadastrar!
          </p>
          <button class="btn transparent" id="sign-up-btn">
            Cadastrar
          </button>
        </section>
        <img src="/src/log.svg" class="image" alt="" />
      </section>
      <section class="panel right-panel">
        <section class="content">
          <h3>Já é um de nós ?</h3>
          <p>
            CLique aqui para logar em sua conta!
          </p>
          <button class="btn transparent" id="sign-in-btn">
            Entrar
          </button>
        </section>
        <img src="/src/register.svg" class="image" alt="" />
      </section>
    </section>
  </section>
  <script src="./js/login.js" defer></script>

  <script src="LOGIN/login.js"></script>
</body>

</html>