<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/src/img-landing/logo.png">
    <title>BoxPets</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <!--CSS-->
    <link rel="stylesheet" href="css/LandingPage/landingPage.css">
  
</head>

<body>
    <!--header-->
    <header>
        <article class="navbar">
            
            <article class="logo"><a href="/"><img src="/src/img-landing/logo.png" alt="logo"></a></article>


            <ul class="links-name">
                <li><a class="links-name-cor" href="/#home">Home</a></li>
                <li><a class="links-name-cor" href="/#servicos">Serviços</a></li>
                <li><a class="links-name-cor" href="/#sobre-nós">Sobre nós</a></li>
                <li><a class="links-name-cor" href="/#sou-empresa">Sou Empresa</a></li>

            </ul>

            <section>
                <a href="/entrar" class="action_btn">Sou Cliente</a>
                <a href="/loginEmpresa" class="action_btn">Sou Empresa</a>
            </section>
            <article class="toggle_btn"> <i class="fa-solid fa-bars"></i> </article>

            


           <article class="fa-regular fa-moon" id="darkmode"> </article> 


            <article class="dropdown_menu">
                <li><a class="links-name-cor" href="/#home">Home</a></li>
                <li><a class="links-name-cor" href="/#servicos">Serviços</a></li>
                <li><a class="links-name-cor" href="/#sobre-nós">Sobre nós</a></li>
                <li><a class="links-name-cor" href="/#sou-empresa">Sou Empresa</a></li>
                <li> <a href="/entrar" class="action_btn_dropdown">Sou Cliente</a></li>
                <li> <a href="/loginEmpresa" class="action_btn_dropdown">Sou Empresa</a></li>
            </article>


    </header>

    <%- include(page) %>

  <!--footer-->
  <footer>
    <section class="row">
        <section class="col">
            <a href="" class="logo"><img src="/src/img-homepage/logo.png" width="80"></a>

            <p>Um lugar prático e de confiança para agendamentos de serviços de bem-estar para o seu pet!</p>
        </section>
        <section class="col">
            <h3>Página Inicial<section class="underline"><span></span></section>
            </h3>
            <ul>
                <li><a href="LandingPage1.html">Home</a></li>
                <li><a href="#servicos">Serviços</a></li>
                <li><a href="#sobre-nós">Sobre Nós</a></li>
                <li><a href="#sou-empresa">Sou Empresa</a></li>
            </ul>
        </section>
        <section class="col">
            <h3>Login e Cadastro<section class="underline"><span></span></section>
            </h3>
            <ul>
                <li><a href="/entrar">Sou Cliente</a></li>
                <li><a href="/cadastroEmpresa">Sou Empresa</a></li>
            </ul>
        </section>
    </section>
    <hr>
    <p class="copyright">Easy Tutorials 2024 - All Rights Reserved</p>
</footer>

        <script src="js/landingPage.js"></script>
        <script src="js/modoescuro.js"></script>
        <script src="js/equipe.js"></script>
</body>

</html>