<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoxPets</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <!--CSS-->
    <link rel="stylesheet" href="css/LandingPage/landingPage.css">
  
</head>

<body>
    <!--header-->
    <header>
        <article class="navbar">
            <article class="logo"><a href="/">Boxpets</a></article>


            <ul class="links-name">
                <li><a class="links-name-cor" href="#home">Home</a></li>
                <li><a class="links-name-cor" href="#servicos">Serviços</a></li>
                <li><a class="links-name-cor" href="#sobre-nós">Sobre nós</a></li>
                <li><a class="links-name-cor" href="#sou-empresa">Sou Empresa</a></li>

            </ul>

            <a href="/entrar" class="action_btn">Sou Cliente</a>
            <a href="/cadastroEmpresa" class="action_btn">Sou Empresa</a>
            <article class="toggle_btn"> <i class="fa-solid fa-bars"></i> </article>

            


           <article class="fa-regular fa-moon" id="darkmode"> </article> 


            <article class="dropdown_menu">
                <li><a class="links-name-cor" href="LandingPage1.html">Home</a></li>
                <li><a class="links-name-cor" href="#servicos">Serviços</a></li>
                <li><a class="links-name-cor" href="#sobre-nós">Sobre nós</a></li>
                <li><a class="links-name-cor" href="#sou-empresa">Sou Empresa</a></li>
                <li> <a href="/entrar" class="action_btn_dropdown">Entrar</a></li>
                <li> <a href="/cadastroEmpresa" class="action_btn_dropdown">Sou Empresa</a></li>
            </article>


    </header>

    <%- include(page) %>

  <!--footer-->
  <footer>
    <section class="row">
        <section class="col">
            <a href="" class="logo"><img src="/src/img-homepage/logo.png" width="80">BOX <span>PETS</span></a>

            <p> um lugar prático para agendar serviços de bem-estar pet com segurança e confiança!</p>
        </section>
        <section class="col">
            <h3>Office <section class="underline"><span></span></section>
            </h3>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Home</a></li>
                <li><a href="">Home</a></li>
                <li><a href="">Home</a></li>
                <li><a href="">Home</a></li>
            </ul>
        </section>
        <section class="col">
            <h3>Office <section class="underline"><span></span></section>
            </h3>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Home</a></li>
                <li><a href="">Home</a></li>
                <li><a href="">Home</a></li>
                <li><a href="">Home</a></li>
            </ul>
        </section>
    </section>
    <hr>
    <p class="copyright">Easy Tutorials 2024 - All Rights Reserved</p>
</footer>

        <script src="js/landingPage.js"></script>
        <script src="js/modoescuro.js"></script>
        <script src="js/equipe.js"></script>
</body>

</html>