<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoxPets</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <!--CSS-->
    <link rel="stylesheet" href="css/Homepage/homepage.css">

</head>

<body>
    <!--header-->
    <header>
        <section class="header-top">
            <% if (locals.Clienteid) { %>
            
           
            
            <% } else { %>
                
                <a href="/sair">Sair</a>
    
            <% } %>

            
            <a href="../pages/template-hm" class="logo"><img src="/src/img-homepage/logo.png" alt="logo">BOX <span>PETS</span></a>

            <section class="icons">
                <section id="search-btn" class="fas fa-search"></section>
                <a href="#" class="fa-regular fa-moon" id="darkmode"></a>
                <a href="#" class="fa-regular fa-calendar"></a>
                <article class="toggle_btn">  <a class="fas fa-user"></a></article>
            </section>

            <article class="dropdown_menu">
                <li><a class="links-name-cor" href="/page-user">Perfil</a></li>
                <li><a class="links-name-cor" href="/carterinha-pet">Carterinha Pet</a></li>
                <li><a class="links-name-cor" href="#">Conta</a></li>
               
                
            </article>


        </section>

        <section class="header-main">
            <section class="container">

                <form action="" class="search-form">
                    <input type="search" name="" placeholder="O que você procura?" id="search-box">
                    <label for="search-box" class="fas fa-search"></label>
                </form>

            </section>
        </section>
    </header>
    <!--conteudo-->

    <%- include(page) %>

        <!--footer-->
        <footer>
            <section class="row">
                <section class="col">
                    <a href="" class="logo"><img src="/src/img-homepage/logo.png" width="80">BOX <span>PETS</span></a>
        
                    <p>Um lugar prático e de confiança para agendamentos de serviços de bem-estar para o seu pet!</p>
                </section>
                <section class="col">
                    <h3>Página Inicial<section class="underline"><span></span></section>
                    </h3>
                    <ul>
                        <li><a href="LandingPage1.html">Home</a></li>
                        <li><a href="#servicos">Serviços</a></li>
                        <li><a href="#sobre-nós">Sobre Nós</a></li>
                        <li><a href="#sou-empresa">Sou Empresa</a></li>
                    </ul>
                </section>
                <section class="col">
                    <h3>Login e Cadastro<section class="underline"><span></span></section>
                    </h3>
                    <ul>
                        <li><a href="/entrar">Sou Cliente</a></li>
                        <li><a href="/cadastroEmpresa">Sou Empresa</a></li>
                    </ul>
                </section>
            </section>
            <hr>
            <p class="copyright">Easy Tutorials 2024 - All Rights Reserved</p>
        </footer>
        
                <script src="js/landingPage.js"></script>
                <script src="js/modoescuro.js"></script>
                <script src="js/equipe.js"></script>
        </body>
        
        </html>