<!DOCTYPE html>
   <html lang="pt-br">

   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" type="image/x-icon" href="/src/img-landing/logo.png">
      <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
      <title>Cadastro das empresas </title>
      <link rel="stylesheet" href="./css/login-empresa/infopessoal.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

      <!-- alertas -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css" />
      <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>
      <script src="./js/notificacao.js"></script>
   </head>

   <body>
      <% if(typeof alert !=="undefined" && alert !== null) {%>
         <script>
             newNotify("<%= alert.title %>", "<%= alert.msg %>", "<%= alert.type %>");
         </script>
         <%}%>
      <main>

    <%- include(page) %>
       
      </main>

      <script src="./js/cadastroEmpresa.js"></script>
      <script src="./js/notificacao.js"></script>
   </body>

   </html>