<% let classeErro={ "nome" :"", "cpf" :"", "cnpj" :"", "email" :"", "celular" :"", "password" :"", "razaosocial"
   :"", "especialidades" :"", "nomeempresa" :"", "cep" :"", "uf" :"", "logradouro" : "" , "cidade" :"", "bairro"
   :"", "numero" :"", } let msgErro={ "nome" :"", "cpf" :"", "cnpj" :"", "email" :"", "celular" :"", "password"
   :"", "razaosocial" :"", "especialidades" :"", "nomeempresa" :"", "cep" :"", "uf" :"", "logradouro" : "" , "cidade"
   :"", "bairro" :"", "numero" :"", } if(errors){ errors.errors.forEach(function(erro){ classeErro[erro.path]='invalid'
   ; msgErro[erro.path]=erro.msg }) } %>





   <!DOCTYPE html>
   <!-- Created By CodingNepal -->
   <html lang="pt">

   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Cadastro das empresas </title>
      <link rel="stylesheet" href="./css/login-empresa/infopessoal.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
   </head>

   <body>
      <main>
      
      </main>

      <script src="./js/cadastroEmpresa.js"></script>
   </body>

   </html>