<!-- REGISTER PAGE -->

<form action="/cadastrarUsuario" class="sign-up-form" method="post">
    <h2 class="title">Cadastrar</h2>
    <section class="">

      <i class="fas fa-user"></i>
      <input id="nome" name="nome" type="text" placeholder="Digite seu nome completo" />

    </section>
    <section class="">

      <i class="fas fa-user"></i>
      <input id="celular" name="celular" type="text" placeholder="Celular:" />

    </section>
    <section class="">

      <i class="fas fa-envelope"></i>
      <input name="email" id="email" type="email" placeholder="Email" required />

    </section>
    <section class="">

      <i class="fas fa-lock"></i>
      <input id="password" name="password" type="password" placeholder="Senha"
        title="Deve conter pelo menos um número, uma letra maiúscula, uma letra minúscula e um dos símbolos (!, @, #, $, %, *) e ter pelo menos 8 ou mais caracteres" />

    </section>
    <section class="">

      <i class="fas fa-user"></i>
      <input id="cep" name="cep" type="text" placeholder="CEP:" />

    </section>
    <section class="">

      <i class="fas fa-user"></i>
      <select id="uf" name="uf" placeholder="UF:">
        <option value="AC">Acre (AC)</option>
        <option value="AL">Alagoas (AL)</option>
        <option value="AP">Amapá (AP)</option>
        <option value="AM">Amazonas (AM)</option>
        <option value="BA">Bahia (BA)</option>
        <option value="CE">Ceará (CE)</option>
        <option value="DF">Distrito Federal (DF)</option>
        <option value="ES">Espírito Santo (ES)</option>
        <option value="GO">Goiás (GO)</option>
        <option value="MA">Maranhão (MA)</option>
        <option value="MT">Mato Grosso (MT)</option>
        <option value="MS">Mato Grosso do Sul (MS)</option>
        <option value="MG">Minas Gerais (MG)</option>
        <option value="PA">Pará (PA)</option>
        <option value="PB">Paraíba (PB)</option>
        <option value="PR">Paraná (PR)</option>
        <option value="PE">Pernambuco (PE)</option>
        <option value="PI">Piauí (PI)</option>
        <option value="RJ">Rio de Janeiro (RJ)</option>
        <option value="RN">Rio Grande do Norte (RN)</option>
        <option value="RS">Rio Grande do Sul (RS)</option>
        <option value="RO">Rondônia (RO)</option>
        <option value="RR">Roraima (RR)</option>
        <option value="SC">Santa Catarina (SC)</option>
        <option value="SP">São Paulo (SP)</option>
        <option value="SE">Sergipe (SE)</option>
        <option value="TO">Tocantins (TO)</option>
      </select>

    </section>
    <section class="">

      <i class="fas fa-user"></i>
      <input id="cidade" name="cidade" type="text" placeholder="Cidade:" />

    </section>
    <section class="">

      <i class="fas fa-user"></i>
      <input id="bairro" name="bairro" type="text" placeholder="Bairro:" />

    </section>
    <section class="">

      <i class="fas fa-user"></i>
      <input id="logradouro" name="logradouro" type="text" placeholder="logradouro:" />

    </section>
    <section id="messagesection"></section>
    <input type="submit" class="btn" value="Cadastrar" />

    <!-- REDES SOCIAIS -->
    <p class="social-text">Siga nossas redes sociais</p>
    <section class="social-media">
      <a href="#" class="social-icon">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#" class="social-icon">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#" class="social-icon">
        <i class="fab fa-google"></i>
      </a>
      <a href="#" class="social-icon">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </section>
</form>