<!-- lOGIN PAGE -->
<% 

let avisoErro={ 
  "email" :"",
  "password" :"", 
} 

  let msgErro = ""

  if(errors){

    errors.errors.forEach(function(erro){

      if(erro.path == "email"){
        avisoErro.email = "invalido"
          msgErro += `- ${erro.path}: <br> <strong>${erro.msg}</strong> <br>`
      }

      if(erro.path == "password"){
        avisoErro.password = "invalido"
         msgErro += `- ${erro.path}: <br> <strong>${erro.msg}</strong> <br>`
      }


    })
  if(msgErro != ""){
  %>
  <script>
    let msgErro = "<%= msgErro %>";
    newNotify(
      "Valores inválidos!", 
    "Verifique o(s) campo(s) <br>" + msgErro.replace(/&lt;/g,"<").replace(/&gt;/g,">"),
    "error", 
    "center",
    5000
  )
  </script>
    <% }
  } %>

    <form action="/logarCliente" method="post" class="sign-in-form">
        <h2 class="title">Entrar</h2>
        <% if(incorreto) { %>
            <h3 class="alert">usuário ou senha incorretos</h3>
        <% } %>
        <section class="input-field">
            <i class="fas fa-user"></i>
            <input name="email" id="email" type="email" placeholder="E-mail" pattern=".{8,}"
                title="E-mail incorreto, porfavor, tente novamente" />
        </section>
        <section class="input-field">
            <i class="fas fa-lock"></i>
            <input name="password" id="password" type="password" placeholder="Senha" title="Sua senha entá incorreta, revise sua senha"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%&*]).{8,}" />
                <button onclick="togglePassword('password')">
                  <span class="fa-solid">&#128065;</span> <!-- Ícone de olhinho -->
              </button>
        </section>
        <div class="aviso-senha">
          <h1>Senha deve conter um número, uma letra maiúscula, uma letra minúscula e um dos símbolos </h1>
        </div>
          <button class="btn solid" type="submit">Login</button>

          <div class="recupereSenha">
            <p class="text">
              Esqueceu sua senha?
              <a href="/esqueceuSenha">Recupere a senha</a> para entrar
            </p>
            </div>
       
    </form>
    <script src="/js/notificacao.js"></script>

    <script>
      function togglePassword(passwordFieldId) {
          const passwordInput = document.getElementById(passwordFieldId);
          const button = passwordInput.nextElementSibling;
          const eyeIcon = button.querySelector(".eye-icon");
  
          // Alterna entre "password" e "text"
          const isPassword = passwordInput.type === 'password';
          passwordInput.type = isPassword ? 'text' : 'password';
  
          // Altera o ícone conforme o tipo de input
          eyeIcon.innerHTML = isPassword ? '&#128064;' : '&#128065;';
      }
  </script>
  
  <style>
  .input-field{
    display: flex;
      align-items: center;
      justify-content: center;
  }
    button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 5px;
        font-size: 18px;
    }
  </style>