<!-- lOGIN PAGE -->
<form action="" class="sign-in-form">
    <h2 class="title">Entrar</h2>
    <section class="input-field">
        <i class="fas fa-user"></i>
        <input id="email" type="email" placeholder="E-mail" pattern=".{8,}"
            title="E-mail incorreto, porfavor, tente novamente" />
    </section>
    <section class="input-field">
        <i class="fas fa-lock"></i>
        <input id="password" type="password" placeholder="Senha" title="Sua senha entá incorreta, revise sua senha"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%&*]).{8,}" />
    </section>
    <button class="btn solid" type="submit">Login</button>
    <p class="social-text">Siga nossas redes sociais</p>

    <!-- REDES SOCIAIS -->

    <section class="social-media">
        <a href="#" class="social-icon">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="social-icon">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="social-icon">
            <i class="fab fa-google"></i>
        </a>
        <a href="#" class="social-icon">
            <i class="fab fa-linkedin-in"></i>
        </a>
    </section>
</form>