<!--conteudo-->

    <!--Serviços-->

        
        
    <section class="servicos" id="servico">

        <h1 class="heading">Procura qual serviço? </h1>

        <section class="box-container">

            <section class="box-ser">  <a href="/veterinarios">
                <img src="/src/img-homepage/banhotosa.jpg" alt="banho em um dog" class="image">
                <section class="content">
                    <img src=" /src/img-homepage/grooming.png" alt="banhotosa" width="80px">
                    <h1>Banho&Tosa</h1>
                </section> </a>
            </section>  
    
                <section class="box-ser">
                    <img src="/src/img-homepage/passeio.jpg" alt="passeio com os pets" class="image">
                    <section class="content">
                        <img src=" /src/img-homepage/walking.png" alt="passeio" width="80px">
                        <h1>Passeio</h1>
                    </section>
                </section>
    
                <section class="box-ser">
                    <img src="/src/img-homepage/veterinario.jpg" alt="um dog no veterinario" class="image">
                    <section class="content">
                    <img src=" /src/img-homepage/paw.png" alt="vet" width="80px">
                        <h1>Veterinario</h1>
                    </section>
                </section>
    
                <section class="box-ser">
                    <img src="/src/img-homepage/Creche.jpg" alt="cachorro em um gato na grama juntos" class="image">
                    <section class="content">
                         <img src=" /src/img-homepage/welfare.png" alt="creche" width="80px">
                        <h1>Creche</h1>
                    </section>
                </section>
    
                <section class="box-ser">
                    <img src="/src/img-homepage/adestramento.jpg" alt="Mulher pedindo a pata para o cachorro" class="image">
                    <section class="content">
                                       <img src=" /src/img-homepage/adestramentoIcon.png" alt="adestramento" width="80px">
                        <h1>Adestramento</h1>
                    </section>
                </section>
    
                <section class="box-ser">
                    <img src="/src/img-homepage/55864_massagem.jpg" alt="" class="image">
                    <section class="content">
                                       <img src=" /src/img-homepage/animal (1).png" alt="massoterapia" width="80px">
                        <h1>Massoterapia</h1>
                    </section>
                </section>
                
            </section>
        </section>
    </section>
        
    </section>
</section>
