<!--conteudo-->

    <!--Serviços-->
    <section class="capa">
        
        
        <section class="servicos" id="servico">

        <h1 class="heading">Procura qual serviço? </h1>

        <section class="box-container">

            <section class="box-ser" > <a href="banho-tosa.html">
                <img src="img-homepage/src/BanhoTosa-hm.png" alt="" class="image">
                <section class="content">
                    <img src="img-homepage/src/icon-ser.png" alt="">
                    <h1>Banho&Tosa</h1>
                </section> </a>
            </section>

                <section class="box-ser">
                    <img src="img-homepage/src/BanhoTosa-hm.png" alt="" class="image">
                    <section class="content">
                        <img src="img-homepage/src/icon-ser.png" alt="">
                        <h1>Banho&Tosa</h1>
                    </section>
                </section>

                <section class="box-ser">
                    <img src="img-homepage/src/BanhoTosa-hm.png" alt="" class="image">
                    <section class="content">
                        <img src="img-homepage/src/icon-ser.png" alt="">
                        <h1>Banho&Tosa</h1>
                    </section>
                </section>

                <section class="box-ser">
                    <img src="img-homepage/src/BanhoTosa-hm.png" alt="" class="image">
                    <section class="content">
                        <img src="img-homepage/src/icon-ser.png" alt="">
                        <h1>Banho&Tosa</h1>
                    </section>
                </section>

                <section class="box-ser">
                    <img src="img-homepage/src/BanhoTosa-hm.png" alt="" class="image">
                    <section class="content">
                        <img src="img-homepage/src/icon-ser.png" alt="">
                        <h1>Banho&Tosa</h1>
                    </section>
                </section>

                <section class="box-ser">
                    <img src="img-homepage/src/BanhoTosa-hm.png" alt="" class="image">
                    <section class="content">
                        <img src="img-homepage/src/icon-ser.png" alt="">
                        <h1>Banho&Tosa</h1>
                    </section>

                  
                  
                </section>
            </section>
        </section>
        
    </section>
</section>
