<section class="category">
    <section class="category-item-heading">
        <h3>Todas nossas empresas de <span>Banho-tosa</span></h3>
       </section>
    <section class="container">
        <section class="category-item-container has-scrollbar">

            <section class="lado">
            <section class="coluna1">
                <a href="/bsEmpresa">
          
        <section class="category-item">
            <section class="category-img-box">
                <img src="/src/logo-empresas/petsrio.jpeg" alt="logo petsrio" >
            </section>

            <section class="category-content-box">
                <section class="category-content-flex">
                    <h3 class="category-item-title">PetsRio</h3>
                </section>
                    <section class="category-item-des">

                    <P class="category-item-amount"><i class="fa-solid fa-star" ></i>(12)</P>
                    <P class="category-item-text" >Banho-tosa</P>

                </section>
                
            </section>
        </section></a>

            
       
        <section class="category-item">
            <section class="category-img-box">
                <img src="/src/logo-empresas/petsrio.jpeg" alt="logo petsrio" >
            </section>

            <section class="category-content-box">
                <section class="category-content-flex">
                    <h3 class="category-item-title">PetRio</h3>
                </section>
                    <section class="category-item-des">

                    <P class="category-item-amount"><i class="fa-solid fa-star" ></i>(12)</P>
                    <P class="category-item-text" >Banho-tosa</P>

                </section>
                
            
        </section>
        </section>

    

            
        <section class="category-item">
            <section class="category-img-box">
                <img src="/src/logo-empresas/petsrio.jpeg" alt="logo petsrio" >
            </section>

            <section class="category-content-box">
                <section class="category-content-flex">
                    <h3 class="category-item-title">PetRio</h3>
                </section>
                    <section class="category-item-des">

                    <P class="category-item-amount"><i class="fa-solid fa-star" ></i>(12)</P>
                    <P class="category-item-text" >Banho-tosa</P>

                </section>
                
            </section>
        </section>
        
           
        <section class="category-item">
            <section class="category-img-box">
                <img src="/src/logo-empresas/petsrio.jpeg" alt="logo petsrio" >
            </section>

            <section class="category-content-box">
                <section class="category-content-flex">
                    <h3 class="category-item-title">PetRio</h3>
                </section>
                    <section class="category-item-des">

                    <P class="category-item-amount"><i class="fa-solid fa-star" ></i>(12)</P>
                    <P class="category-item-text" >Banho-tosa</P>

                </section>
                
            </section>
        </section>
            </section>

            
        <section class="coluna2">

           
        <section class="category-item">
            <section class="category-img-box">
                <img src="/src/logo-empresas/petsrio.jpeg" alt="logo petsrio" >
            </section>

            <section class="category-content-box">
                <section class="category-content-flex">
                    <h3 class="category-item-title">PetRio</h3>
                </section>
                    <section class="category-item-des">

                    <P class="category-item-amount"><i class="fa-solid fa-star" ></i>(12)</P>
                    <P class="category-item-text" >Banho-tosa</P>

                </section>
                
            </section>
        </section>

            
        <section class="category-item">
            <section class="category-img-box">
                <img src="/src/logo-empresas/petsrio.jpeg" alt="logo petsrio" >
            </section>

            <section class="category-content-box">
                <section class="category-content-flex">
                    <h3 class="category-item-title">PetRio</h3>
                </section>
                    <section class="category-item-des">

                    <P class="category-item-amount"><i class="fa-solid fa-star" ></i>(12)</P>
                    <P class="category-item-text" >Banho-tosa</P>

                </section>
                
            </section>
        </section>
            
        <section class="category-item">
            <section class="category-img-box">
                <img src="/src/logo-empresas/petsrio.jpeg" alt="logo petsrio" >
            </section>

            <section class="category-content-box">
                <section class="category-content-flex">
                    <h3 class="category-item-title">PetRio</h3>
                </section>
                    <section class="category-item-des">

                    <P class="category-item-amount"><i class="fa-solid fa-star" ></i>(12)</P>
                    <P class="category-item-text" >Banho-tosa</P>

                </section>
                
            </section>
        </section>
            
        <section class="category-item">
            <section class="category-img-box">
                <img src="/src/logo-empresas/petsrio.jpeg" alt="logo petsrio" >
            </section>

            <section class="category-content-box">
                <section class="category-content-flex">
                    <h3 class="category-item-title">PetRio</h3>
                </section>
                    <section class="category-item-des">

                    <P class="category-item-amount"><i class="fa-solid fa-star" ></i>(12)</P>
                    <P class="category-item-text" >Banho-tosa</P>

                </section>
                
            </section>
        </section>
            
            

        </section>

        <section class="coluna3">

            
        <section class="category-item">
            <section class="category-img-box">
                <img src="/src/logo-empresas/petsrio.jpeg" alt="logo petsrio" >
            </section>

            <section class="category-content-box">
                <section class="category-content-flex">
                    <h3 class="category-item-title">PetRio</h3>
                </section>
                    <section class="category-item-des">

                    <P class="category-item-amount"><i class="fa-solid fa-star" ></i>(12)</P>
                    <P class="category-item-text" >Banho-tosa</P>

                </section>
                
            </section>
        </section>

           
        <section class="category-item">
            <section class="category-img-box">
                <img src="/src/logo-empresas/petsrio.jpeg" alt="logo petsrio" >
            </section>

            <section class="category-content-box">
                <section class="category-content-flex">
                    <h3 class="category-item-title">PetRio</h3>
                </section>
                    <section class="category-item-des">

                    <P class="category-item-amount"><i class="fa-solid fa-star" ></i>(12)</P>
                    <P class="category-item-text" >Banho-tosa</P>

                </section>
                
            </section>
        </section>

        <section class="category-item">
            <section class="category-img-box">
                <img src="/src/logo-empresas/petsrio.jpeg" alt="logo petsrio" >
            </section>

            <section class="category-content-box">
                <section class="category-content-flex">
                    <h3 class="category-item-title">PetRio</h3>
                </section>
                    <section class="category-item-des">

                    <P class="category-item-amount"><i class="fa-solid fa-star" ></i>(12)</P>
                    <P class="category-item-text" >Banho-tosa</P>

                </section>
                
            </section>
            </section>

            <section class="category-item">
                <section class="category-img-box">
                    <img src="/src/logo-empresas/petsrio.jpeg" alt="logo petsrio" >
                </section>
    
                <section class="category-content-box">
                    <section class="category-content-flex">
                        <h3 class="category-item-title">PetRio</h3>
                    </section>
                        <section class="category-item-des">
    
                        <P class="category-item-amount"><i class="fa-solid fa-star" ></i>(12)</P>
                        <P class="category-item-text" >Banho-tosa</P>
    
                    </section>
                    
                </section>
            </section>

           

        </section>
    </section>
            

        </section>
    </section>
</section>
