 <!--carousel_Home -->
 <section class="carousel" id="servicos">
    <article class="list">

        <!--carousel 1-->
        <article class="item">
            <img src="/src/img-landing/img1_home.jpg" alt="gatinho deitado">
            <article class="content">
                <article class="author">Bem vindo</article>
                <article class="title">Box pets</article>
                <article class="des">
                    Na Box Pets, nosso compromisso é proporcionar momentos de felicidade e cuidado para os seus melhores amigos de quatro patas.
                </article>
                <article class="buttons">
                  <button>Cadastrar</button>
                    <button>Login</button>
                </article>
            </article>
        </article>

        <!--carousel 2-->
        <article class="item">
            <img src="/src/img-landing/img2_home.jpg" alt="cachorro deitado meio com sono">
            <article class="content">
                    <article class="author">Bem vindo</article>
                    <article class="title">Box pets</article>
                    <article class="des">
                        Box Pets: onde o amor pelos animais encontra soluções inovadoras para tornar a vida do seu pet ainda mais especial.
 
                    </article>
                    <article class="buttons">
                        <a href="/cadastrar"> <button>Cadastrar</button> </a>
                        <button>Login</button>
                    </article>
                </article>
            </article>

        <!--carousel 3-->
        <article class="item">
            <article class="item">
                <img src="/src/img-landing/img3_home.jpg" alt="mulher com um coelho no colo e um branco do lado">
                <article class="content">
                    <article class="author">Bem vindo</article>
                    <article class="title">Box pets</article>
                    <article class="des">
                        Na Box Pets, cada detalhe é pensado para tornar a vida dos seus animais de estimação mais confortável, saudável e cheia de alegria.
 
                    </article>
                    <article class="buttons">
                        <a href="/cadastrar"> <button>Cadastrar</button> </a>
                        <button>Login</button>
                    </article>
                </article>
            </article>
        </article>

</section>

<!--thumbnail-->
<!-- <article class="thumbnail">

    <article class="item">
        <img src="/src/img-landing/img1_home_thumbnail.jpg" alt="cachorro deitado meio com sono">
        <article class="content">
            <article class="title">
                Name slider
            </article>
            <article class="des">
               Description
            </article>
        </article>
    </article>

    <article class="item">
        <img src="/src/img-landing/img2_home_thumbnail.jpg" alt="mulher com um coelho no colo e um branco do lado">
        <article class="content">
            <article class="title">
                Name slider
            </article>
            <article class="des">
                Description 
            </article>
        </article>
    </article>

    <article class="item">
        <img src="/src/img-landing/img3_home_thumbnail.jpg" alt="gatinho deitado">
        <article class="content">
            <article class="title">
                Name slider
            </article>
            <article class="des">
                 Description 
            </article>
        </article>
    </article>
</article> -->

<!--botões do carousel -->
<article class="arrows">
    <button id="prev"><</button>
            <button id="next">></button>
</article>
<article class="time"></article>

<!--Categorias -->
<article class="categories" id="servicos">
    <article class="heading">
        <h1> Encontre seu melhor amigo Peludo<br><span>Categorias</span></h1>
        <a href="#" class="button_cate">Saiba mais </a>
    </article>
    <!--container categorias -->
    <!--categoria 1-->
    <article class="categories-container">
        <article class="box box1">
            <img src="/src/img-landing/categorias.png" alt="">
            <h2>Banho&Tosa</h2>
           
            <h1>></h1>
        </article>
        <!--categoria 2-->
        <article class="box box2">
            <img src="/src/img-landing/categorias.png" alt="">
            <h2>Veterinario</h2>
           
            <h1>></h1>
        </article>
        <!--categoria 3-->
        <article class="box box3">
            <img src="/src/img-landing/categorias.png" alt="">
            <h2>Creche</h2>
           
            <h1>></h1>
        </article>
        <!--categoria 4-->
        <article class="box box4">
            <img src="/src/img-landing/categorias.png" alt="">
            <h2>Adestramento</h2>
           
            <h1>></h1>
        </article>
        <!--categoria 5-->
        <article class="box box5">
            <img src="/src/img-landing/categorias.png" alt="">
            <h2>Passeio</h2>
           
            <h1>></h1>
        </article>



    </article>
</article>

<!--Sobre o site -->
<section class="about_site" id="sobre-nós">
    <article class="content_site">
        <h3> Conecte Sua Empresa ao Mundo Animal com <span> BoxPets</span></h3>
        <p>Impulsione seu negócio com conteúdo especializado e uma audiência apaixonada por animais.</p>
        <a href="/soucliente" class="btn_menor">Saiba+</a>
    </article>

    <article class="image_site">
        <img src="/src/img-landing/abouts.png" alt="">
    </article>
</section>

<!--Fotos-->
<section>
<div class="wrapper">
    <div class="box">
       <div class="front-face">
          <div class="icon">
             <i class="fas fa-code"></i>
          </div>
          <span>Compartilhar</span>
       </div>
       <div class="back-face">
          <span>Compartilhar</span>
          <p>
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem in deleniti vitae beatae veritatis aliquid porro perspiciatis dolores impedit ad.
          </p>
       </div>
    </div>
    <div class="box">
       <div class="front-face">
          <div class="icon">
             <i class="fas fa-chart-line"></i>
          </div>
          <span>alavancar</span>
       </div>
       <div class="back-face">
          <span>alavancar</span>
          <p>
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem in deleniti vitae beatae veritatis aliquid porro perspiciatis dolores impedit ad.
          </p>
       </div>
    </div>
    <div class="box">
       <div class="front-face">
          <div class="icon">
             <i class="fas fa-rocket"></i>
          </div>
          <span>Explorar</span>
       </div>
       <div class="back-face">
          <span>Explorar</span>
          <p>
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem in deleniti vitae beatae veritatis aliquid porro perspiciatis dolores impedit ad.
          </p>
       </div>
    </div>
 </div>
</section>
<!--Sobre as empresas-->

<section class="about_empresa" id="sou-empresa">
 
    <article class="content_empresa">
        <h3><span>Descubra</span>o Mundo Fascinante dos Animais!</h3>
        <p>Nós da BoxPets temos o compromisso de garantir o bem-estar e 
            a felicidade dos animais, promovendo cuidados adequados, respeito 
            e amor em todas as fases de suas vidas.</p>

        <article class="buttons">
            <a href="/souempresa" class="btn-maior">Saiba+</a>
        </article>
    </article>
    <article class="image_empresa">
        <img src="/src/img-landing/abouts3.png" alt="">
    </article>



</section>

<!--ABOUT-->
<section class="about-section">
    <h2 class="header-section">Siga nosso <span>instagram</span></h2>
    <p class="description-section">
        siga a gente em nosso instagram, para que assim faça parte
        de nossa comunidade e fique por dentro de tudo que acontece.
    </p>
    <button class="btn-maior">Instagram</button>
</section>

<!--equipe

<section class="wrapperEq">
    <i id="left" class="fa-solid fa-angle-left"></i>
    <ul class="carouselEq">
      <li class="cardEq">
        <section class="img"><img src="perf.jpeg" alt="img" draggable="false"></section>
        <h2>Blanche Pearson</h2>
        <span>Sales Manager</span>
      </li>
      <li class="cardEq">
        <section class="img"><img src="perfil.jpg" alt="img" draggable="false"></section>
        <h2>Joenas Brauers</h2>
        <span>Web Developer</span>
      </li>
      <li class="cardEq">
        <section class="img"><img src="perfil2.jpg" alt="img" draggable="false"></section>
        <h2>Lariach French</h2>
        <span>Online Teacher</span>
      </li>
      <li class="cardEq">
        <section class="img"><img src="perf.jpeg" alt="img" draggable="false"></section>
        <h2>James Khosravi</h2>
        <span>Freelancer</span>
      </li>
      <li class="cardEq">
        <section class="img"><img src="perfil.jpg" alt="img" draggable="false"></section>
        <h2>Kristina Zasiadko</h2>
        <span>Bank Manager</span>
      </li>
      <li class="cardEq">
        <section class="img"><img src="perfil2.jpg" alt="img" draggable="false"></section>
        <h2>Donald Horton</h2>
        <span>App Designer</span>
      </li>
    </ul>
    <i id="right" class="fa-solid fa-angle-right"></i>
  </section>-->