<section>
    <section id="about-page-banner">
        <section id="about-gradient-banner">
            <section class="about-banner-content">
                <h1>Clientes</h1>
                <h2>Descubra como crescer na Boxpets</h2>
            </section>
        </section>
    </section>
    </section>
    
    <!--about1-->
    <section>
    <section class="about-page-content">
        <section class="about-section1">
            <h1 class="about-section-heading">
                Quem somos?
            </h1>
            <section class="border-line"></section>
            <p class="about-section1-text">
                Bem-vindo ao Box Pet, a plataforma definitiva para conectar donos de pets com serviços de alta qualidade. 
               
                <br><br>
                Nos últimos anos, o mercado de serviços para pets tem experimentado um 
                crescimento significativo. De acordo com a Associação Brasileira da Indústria
                 de Produtos para Animais de Estimação (Abinpet), o mercado pet brasileiro movimentou 
                 mais de R$ 40 bilhões em 2020, com uma taxa de crescimento anual composta (CAGR) de 
                 13,5% nos últimos cinco anos. Esse crescimento reflete o aumento da preocupação dos
                  donos com o bem-estar dos seus animais de estimação, impulsionando a demanda por serviços 
                  como grooming, hospedagem, adestramento e saúde animal.
            </p>
        </section>
    </section>
    </section>
    <!--about2-->
    <section class="body-about2">
    <section class="about-section2">
        <section class="inner-section">
            <img src="/src/img_landing/pexels-edd1egalaxy-3628100.jpg" alt="">
            <p class="about-section2-text">
                Reconhecendo essa tendência, criamos o BoxPets para ajudar empresas do setor a 
                        alcançarem um público mais amplo e para oferecer aos donos de pets uma maneira fácil
                         e conveniente de agendar serviços. Nosso sistema de agendamentos integrado permite
                          que os clientes gerenciem as necessidades dos seus animais de estimação com 
                          eficiência, garantindo que eles recebam os melhores cuidados possíveis.
            </p>
        </section>
    </section>
    </section>
    <!--about3-->
    
    <section>
        <section class="wrapper-section3">
            <section class="testimonial">
                <article class="section3">
                    <h1></h1>
                  <img src="/src/img-landing/pexels-ramy-kabalan-233519-745079.jpg" alt="">
                    <blockquote>
                        A união entre a Box Pet e as empresas de serviços pet é fundamental para o 
                        sucesso da nossa plataforma. Acreditamos que juntos podemos oferecer um valor 
                        excepcional aos donos de pets, proporcionando-lhes acesso a uma ampla gama de 
                        serviços de alta qualidade. Trabalhamos em estreita colaboração com nossos 
                        parceiros para assegurar que suas ofertas estejam sempre visíveis e acessíveis,
                         promovendo o crescimento mútuo e fortalecendo o setor como um todo. 
                         Nosso compromisso é criar um ecossistema onde empresas e clientes possam 
                         prosperar juntos.
                    </blockquote>
                </article>
            </section>
        </section>
    </section>
    
   
             
              </section>
    
      </section> 