<section>
    <section id="about-page-banner">
        <section id="about-gradient-banner">
            <section class="about-banner-content">
                <h1>Empresas</h1>
                <h2>Descubra como crescer na BoxPets!</h2>
            </section>
        </section>
    </section>
    </section>
    
    <!--about1-->
    <section>
    <section class="about-page-content">
        <section class="about-section1">
            <h1 class="about-section-heading">
                Quem somos?
            </h1>
            <section class="border-line"></section>
            <p class="about-section1-text">
                Aqui na BoxPets, você pode se beneficiar de uma maior visibilidade junto a um público segmentado e engajado, fortalecer sua imagem de responsabilidade social ao apoiar causas de bem-estar animal, e aumentar suas oportunidades de marketing e vendas através de colaborações estratégicas

                
                <br><br>
                Obtendo acesso a conteúdos exclusivos e de qualidades, e participando de eventos e campanhas especiais que reforçam a conscientização e a educação sobre cuidados com os pets.
            </p>
        </section>
    </section>
    </section>
    <!--about2-->
    <section class="body-about2">
    <section class="about-section2">
        <section class="inner-section">
            <h1>Empresas</h1>
            <p class="about-section2-text">
                O BoxPets é uma plataforma dedicada ao bem-estar animal, conectando empresas que compartilham a paixão por pets a um público segmentado e engajado. Ao assinar nossos serviços, sua empresa terá a oportunidade de se destacar em um mercado crescente, fortalecendo sua imagem e promovendo suas iniciativas de responsabilidade social.
            </p>
        </section>
    </section>
    </section>
    <!--about3-->
    
    <section>
        <section class="wrapper-section3">
            <section class="testimonial">
                <article class="section3">
                    <h1>Venha ser uma empresa parceira!</h1>
                  <img src="img_landingpage/src/empresaLd2.jpg" alt="">
                    <blockquote>
                        Uma parceria com nosso site oferece à sua empresa a oportunidade de aumentar lucros por meio de uma exposição ampliada, acesso a uma base de usuários qualificada e colaborações estratégicas que impulsionam o crescimento mútuo.
                    </blockquote>
                </article>
            </section>
        </section>
    </section>
    
    <!--Planos-->
    <section class="planos" id="planos">
        <h1 class="heading-planos"> Nossos Planos</h1>
              <section class="box-container-planos">
                <section class="box-planos">
                   <section class="icon-plan"> <i class="fa-solid fa-icons"></i> </section>
                    <h3>Plano Mensal</h3>
                    <section class="price"><span>R$</span>18,99<span>/mês</span></section>
                    <section class="list-plan">
                        <p>Anúncio de Vendas<i class="fa-solid fa-check"></i></p>
                        <p>Aumento de Clientes<i class="fa-solid fa-check"></i></p>
                        <p>Aumento da Visibilidade<i class="fa-solid fa-check"></i></p>
                        <p>Agenda Exclusiva<i class="fa-solid fa-check"></i></p>
                        <p>Acesso as Carteiras Pets<i class="fa-solid fa-check"></i></p>
    
                    </section>
                    <a href="/loginEmpresa"" class="btn_planos">Assine Já!</a>
                </section>
    
                <section class="box-planos">
                    <section class="icon-plan"> <i class="fa-solid fa-icons"></i> </section>
                    <h3>Plano </h3>
                    <section class="price"><span>R$</span>205,99<span>/ano</span></section>
                    <section class="list-plan">
                        <p>Anúncio de Vendas<i class="fa-solid fa-check"></i></p>
                        <p>Aumento de Clientes<i class="fa-solid fa-check"></i></p>
                        <p>Aumento da Visibilidade<i class="fa-solid fa-check"></i></p>
                        <p>Agenda Exclusiva<i class="fa-solid fa-check"></i></p>
                        <p>Acesso as Carteiras Pets<i class="fa-solid fa-check"></i></p>
                    </section>
                    <a href="/loginEmpresa"" class="btn_planos">Assine Já!</a>
                </section>
    
             
              </section>
    
      </section> 