<section>
    <section id="about-page-banner">
        <section id="about-gradient-banner">
            <section class="about-banner-content">
                <h1>Empresas</h1>
                <h2>Descubra como crescer na Boxpets</h2>
            </section>
        </section>
    </section>
    </section>
    
    <!--about1-->
    <section>
    <section class="about-page-content">
        <section class="about-section1">
            <h1 class="about-section-heading">
                Quem somos?
            </h1>
            <section class="border-line"></section>
            <p class="about-section1-text">
                Aqui Na BoxPets Voce Pode Se Beneficiar De Uma Maior Visibilidade 
                Junto A Um Público Segmentado E Engajado, Fortalecer Sua Imagem De
                 Responsabilidade Social Ao Apoiar Causas De Bem-Estar Animal, E 
                 Aumentar Suas Oportunidades De Marketing E Vendas Através De Colaborações Estratégicas.

                
                <br><br>
                Obter Acesso A Conteúdos Exclusivos E De Qualidade, 
                E Participar De Eventos E Campanhas Especiais Que Reforçam 
                A Conscientização E A Educação Sobre Cuidados Com Os Pets.
            </p>
        </section>
    </section>
    </section>
    <!--about2-->
    <section class="body-about2">
    <section class="about-section2">
        <section class="inner-section">
            <h1>EMPRESASS</h1>
            <p class="about-section2-text">
                Somos um site onde divulgamos os serviços pets com mais facilidade. 
                São serviços de bem-estar para o seu pet e cuidado pessoal. 
                Nossa missão é conectar donos de pets a fornecedores de qualidade,
                 proporcionando uma experiência prática e segura. 
                 Aqui, você encontra desde dicas e cuidados, produtos e serviços veterinários, 
                 até treinamentos e adestramento especializado. 
                 Acreditamos que cada pet merece o melhor cuidado, e estamos comprometidos em ser a 
                 ponte entre os melhores serviços e os apaixonados por animais. Venha fazer parte 
                 da nossa comunidade e descubra tudo o que você e seu pet precisam em um só lugar.
            </p>
        </section>
    </section>
    </section>
    <!--about3-->
    
    <section>
        <section class="wrapper-section3">
            <section class="testimonial">
                <article class="section3">
                    <h1>Venha ser uma empresa parceira!</h1>
                  <img src="img_landingpage/src/empresaLd2.jpg" alt="">
                    <blockquote>
                        Uma Parceria Com Nosso Site Oferece Å Sua Empresa A Oportunidade 
                        De Aumentar Lucros Através De Exposição Ampliada, Acesso 
                        A Uma Base De Usuários Qualificada E Colaborações Estratégicas Que 
                        Impulsionam O Crescimento Mútuo.
                    </blockquote>
                </article>
            </section>
        </section>
    </section>
    
    <!--Planos-->
    <section class="planos" id="planos">
        <h1 class="heading-planos"> Nossos Planos</h1>
              <section class="box-container-planos">
                <section class="box-planos">
                   <section class="icon-plan"> <i class="fa-solid fa-icons"></i> </section>
                    <h3>Plano Basico</h3>
                    <section class="price"><span>R$</span>15<span>/mês</span></section>
                    <section class="list-plan">
                        <p>anuncio de venda <i class="fa-solid fa-check"></i></p>
                        <p>aumento de cliente <i class="fa-solid fa-check"></i></p>
                        <p>reconhecimento nacional <i class="fa-solid fa-check"></i></p>
    
                    </section>
                    <a href="#" class="btn_planos">vejas +</a>
                </section>
    
                <section class="box-planos">
                    <section class="icon-plan"> <i class="fa-solid fa-icons"></i> </section>
                    <h3>Plano premium</h3>
                    <section class="price"><span>R$</span>25<span>/mês</span></section>
                    <section class="list-plan">
                        <p>anuncio de venda <i class="fa-solid fa-check"></i></p>
                        <p>aumento de cliente <i class="fa-solid fa-check"></i></p>
                        <p>reconhecimento nacional <i class="fa-solid fa-check"></i></p>
                    </section>
                    <a href="#" class="btn_planos">veja mais</a>
                </section>
    
             
              </section>
    
      </section> 