/*serviços*/

.product-main { margin-bottom: 30px;  margin: 5%; }

.product-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
 
}

 .showcase {
  border: 1px solid var(--branco);
  border-radius: 20px;
  overflow: hidden;
  transition: 0.4s;
 
}

 .showcase:hover { box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1); }

 .showcase-banner { position: relative; }

 .showcase-banner img{
  width: 200px;
  height: 200px;
  object-fit: cover;
 }
 .product-img {
    border-radius: 20px;
    padding: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition-timing);
}



 .showcase:hover .product-img { transform: scale(1.1); }

 .showcase-badge {
  position: absolute;
  top: 15px;
  left: 15px;
  background: var(--qs-branco);
  font-size: 16px;
  font-weight: 500;
  color: var(--branco);
  padding: 0 8px;
  border-radius: 10px;
  z-index: 3;
}

 .showcase-badge.angle {
  top: 8px;
  left: -29px;
  transform: rotate(-45deg);
  text-transform: uppercase;
  font-size: 11px;
  padding: 5px 40px;
}

 .showcase-badge.black { background: var(--preto); }

 .showcase-badge.pink { background: var(--cor-primaria); }

 .showcase-actions {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  transform: translateX(50px);
  transition: 0.4s;
  z-index: 3;
}

 .showcase:hover .showcase-actions { transform: translateX(0); }



 .showcase-content { padding: 15px 20px 0; }

 .showcase-category {
  color: var(--cor-segundaria);
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
}

 .showcase-title {
  color: var(--cor-primaria);
  font-size: 14px;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 1px;
  margin-bottom: 10px;
  transition: var(--transition-timing);
}

 .showcase-title:hover { color: var(--cor-segundaria); }

 .showcase-rating {
  display: flex;
  color: var(--cor-segundaria);
  margin-bottom: 10px;
}

 .price-box {
  display: flex;
  gap: 10px;
  font-size: 18px;
  color: var(--branco);
  margin-bottom: 10px;
}



.product-grid  .price { font-weight: 700;
color: var(--preto); }

.product-grid del { 
    color: #585858;
    font-weight: 400;
    
    text-decoration: line-through;
    
    
}

@media (min-width: 500px) { .product-grid  { grid-template-columns: repeat(2, 1fr);  } }
@media (min-width: 1500px) { .product-grid { grid-template-columns: repeat(3, 1fr);  } }
@media (min-width: 1400px) {.product-grid  { grid-template-columns: repeat(4, 1fr);  }   } 