/*cores*/
:root {
    --cor-primaria: #6794FE;
    --cor-segundaria:#FF8100;
    --fundo:#FFFFFF;
    --txt-1:#333333;
    --txt-2:#666666 ;
    --txt-suave:#999999;
    --txt-erro: #D32F2F;
    --branco:#fff;
    --preto:#333;
  }
   
  body.color{
    --cor-primaria: #6794FE;
    --cor-segundaria:#FF8100;
    --fundo:#121212;
    --txt-1:#E0E0E0 ;
    --txt-2:#B3B3B3 ;
    --txt-suave:#757575 ;
    --txt-erro: #FF6B6B  ;
    --branco:#fff;
    --preto:#333;
   
  }
   

.box-esqueceuSenha {
    position: relative;
    width: 100%;
    max-width: 1020px;
    height: 640px;
    background-color: #fff;
    border-radius: 3.3rem;
    box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
  }
  
  .inner-box-esqueceuSenha {
    position: absolute;
    width: calc(100% - 4.1rem);
    height: calc(100% - 4.1rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.input-field {
    position: absolute;
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
    border: none;
  }
  
  .input-field input {
    
    border-radius: 55px;
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 500;
    font-size: 1rem;
    color: #adadad;
  }
  
  .input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
  }
  .input-field i{
    display: flex;
    align-items: center;
    margin-left: 20%;
  
  }

  .esqueceuSenha{
    max-width: 460px;
    width: 100%;
    margin: 5% auto;
    height: max-content;
  }




  .links link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: smaller;
    font-weight: 400
  }

  .modal {
    width: 100%;
    height: 100%;
    position: fixed;
    backdrop-filter: blur(10px);
    z-index: 1000;
    display: none;
    left: 0;
    top: 0;

    &.show {
        display: flex;
    }

    & .closeBtn {
        font-size: 20px;
        position: absolute;
        top: 0;
        right: 0;
        margin: 20px;
    }

    & .modal__content {
        background: var(--cor-primaria);
        margin: auto;
        border-radius: 10px;
        padding: 5rem clamp(1rem, 10vw, 4rem);
        & .modal__title {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
        }

    }
}



  @media (max-width: 850px) {
    .box-esqueceuSenha {
      height: auto;
      max-width: 550px;
      overflow: hidden;
    }
}

@media (max-width: 530px) {
    main {
      padding: 1rem;
    }
  
    .box-esqueceuSenha {
      border-radius: 2rem;
    }
  
    .inner-box-esqueceuSenha {
      padding: 1rem;
    }
}
