<div id="areaTwoContent">
  <div class="sessao-foto">
    <div id="areaFoto">
      <div>
      <form id="Fotoperfil" action="/atualizarFoto" method="post" enctype="multipart/form-data">
        <article data-fotoContainer >
          <img src="./src/fotos-perfil/" alt="" class="foto__img">
        </article>
        <input type="file" name="imgPerfil" id="imgPerfil" class="input__control imgPerfil <%= avisoErro.imgPerfil %>"
        placeholder="Selecione sua foto de perfil" data-inputFoto required>
          
        </form>
        <script>
          document.getElementById('imgPerfil').addEventListener('change', function() {
            document.getElementById('Fotoperfil').submit();
          });
        </script>
      
          <form action="/excluirFoto" method="post" enctype="multipart/form-data">
            <button class="btnDelete">Deletar</button>
          </form>
        