<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carteirinha Dinâmica</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h2>Crie sua Carteirinha</h2>
    <button id="createCardBtn">Criar Carteirinha</button>

    <div id="cardContainer" class="card-container">
        <!-- As carteirinhas serão adicionadas aqui -->
    </div>

    <!-- Modal -->
    <div id="cardModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Preencha os dados da Carteirinha</h2>
            <form id="cardForm">

              <section  class="input-field ">
                <i class="fas fa-user"></i>
                <input for="" id="nome" name="nome_cli" required type="text" placeholder="Nome do Pet" />
              </section>

              <section  class="input-field ">
                <i class="fas fa-user"></i>
                <input for="" id="idade" name="nome_cli" required type="text" placeholder="Idade" />
              </section>

              <section  class="input-field ">
                <i class="fas fa-user"></i>
                <input for="" id="sexo" name="nome_cli" required type="text" placeholder="Sexo" />
              </section>

              <section  class="input-field ">
                <i class="fas fa-user"></i>
                <input for="" id="porte" name="nome_cli" required type="text" placeholder="Porte" />
              </section>

              <section  class="input-field ">
                <i class="fas fa-user"></i>
                <input for="" id="raca" name="nome_cli" required type="text" placeholder="Raça" />
              </section>

                

              <form id="Fotoperfil" action="/atualizarFoto" method="post" enctype="multipart/form-data">
                <article data-fotoContainer >
                  <img src="./src/fotos-perfil/" alt="" class="foto__img">
                </article>
                <input type="file" name="imgPerfil" id="imgPerfil" class="input__control imgPerfil "
                placeholder="Selecione sua foto de perfil" data-inputFoto required>
                  
                </form>

                <button type="submit">Salvar</button>
            </form>
        </div>
    </div>

    <script src="./js/carterinha-pet.js"></script>
</body>
</html>
