<div class="container">
    <h1 id="TituloPerfil">Perfil</h1>
    <p>Lorem ipsum dolor sit amet consectetur.</p>
   
    <div id="areaTwoContent"> 
      <div class="sessao-foto">
        <div id="areaFoto">
          <img src="https://via.placeholder.com/400x400" alt="Profile Picture">
          <div>
            <button>Trocar Foto</button><br>
            <button class="btnDelete">Deletar</button>
          </div>
        </div>
        <p>Recomendamos fotos com resolução de 256×256px</p>
      </div>
   
      <div class="areaInformacao">
        <div>
          <h3>Reforce a confiança!</h3>
          <p>Sua foto aparecerá nos e-mails e no link de agendamento de reuniões online.</p>
          <p>Isso permite que seus potenciais clientes associem uma agência a uma pessoa de confiança.</p>
        </div>
        <img src="https://via.placeholder.com/400x400" alt="Trust Illustration">
  
      </div>
    </div>
  
    <div id="areaInformacoesPerfil">
       
        <label for="Nome" class="labelFit">Nome</label>
        <input type="text" id="Nome" name="Nome" placeholder="Nome">
       
        <label for="Sobrenome" class="labelFit">Sobrenome</label>
        <input type="text" id="Sobrenome" name="Sobrenome" placeholder="Sobrenome">
       
        <label for="Email" class="labelFit">Email</label>
        <input type="email" id="Email" name="Email" placeholder="Email">
      
   
        <label for="Telefone" class="labelFit">Telefone</label>
        <input type="tel" id="Telefone" name="Telefone" placeholder="Telefone">
     
    </div>
  
  </div>